<div class="page-content infinite-scroll">

	<div class="side_margin">
		<div class="row">
			<div class="tablet-5 col-5"></div>
			<div class="tablet-95 col-95">
				<h1> <center>Cramer</center> </h1>

				<p class="justify">La regla de Cramer es un teorema del álgebra lineal que
					da la solución de un sistema lineal de ecuaciones en términos de determinantes
					y debe de cumplir las siguientes condiciones:
				</p>
				<ol>
					<li>El número de ecuaciones es igual al número de incógnitas.</li>
					<li> El determinante de la matriz de los coeficientes es distinto de cero.</li>
				</ol>
				<p class="justify">Tales sistemas son sistemas compatibles determinados y se denominan sistemas de Cramer.</p>
				<span><img src="https://www.vitutor.org/algebra/sistemas%20I/images/46.gif" alt="Sistema"></span>
				<br><br>
				<p class="justify">Sea Δ el determinante de la matriz de coeficientes.</p>
				<span><img src="https://www.vitutor.org/algebra/sistemas%20I/images/44a.gif" alt="Delta"></span>
				<br><br>
				<p class="justify">Todo sistema de Cramer tiene una sola solución (es decir, es un sistema compatible
					 determinado) que viene dada por las siguientes expresiones:</p>
				<span><img src="https://www.vitutor.org/algebra/sistemas%20I/images/1_1.gif" alt="soluciones"></span>
				<br><br>
				<p class="justify">
					<em>Δ<sub>1</sub></em>,
					<em>Δ<sub>2</sub></em>,
					<em>Δ<sub>3</sub></em>
					, ... ,
					<em>Δ<sub>n</sub></em>
					 son los determinantes que se obtiene al sustituir los coeficientes del 2º miembro
					en la 1ª columna, en la 2ª columna, en la 3ª columna y en la enésima columna respectivamente.
				</p>
				<span><img src="https://www.vitutor.org/algebra/sistemas%20I/images/43.a_1.gif" alt="soluciones"></span>
				&nbsp;&nbsp;&nbsp;&nbsp;
				<span><img src="https://www.vitutor.org/algebra/sistemas%20I/images/43.a_2.gif" alt="soluciones"></span>
				&nbsp;&nbsp;&nbsp;&nbsp;
				<span><img src="https://www.vitutor.org/algebra/sistemas%20I/images/43.a_3.gif" alt="soluciones"></span>
				&nbsp;&nbsp;&nbsp;&nbsp;
				<b> ... </b>
				&nbsp;&nbsp;&nbsp;&nbsp;
				<span><img src="https://www.vitutor.org/algebra/sistemas%20I/images/43.a_4.gif" alt="soluciones"></span>
				<a href="" class="button button_color metodo">CRAMER</a>
			</div>
			<div class="tablet-5 col-5"></div>
		</div>
	</div>
</div>
