<div>
	<h1>Bairstow</h1>

	<div class="content-block">
	    <!-- Buttons row as tabs controller -->
	    <div class="buttons-row">
	      <!-- Link to 1st tab, active -->
	      <a href="#tab1" class="tab-link button openAbout">Tab 1</a>
	      <!-- Link to 2nd tab -->
	      <a href="#tab2" class="tab-link button info">Tab 2</a>
	      <!-- Link to 3rd tab -->
	      <a href="#tab3" class="tab-link button tab">Tab 3</a>
	    </div>
	</div>
</div>


<!--Contenido fuera de page content-->
<div class="popup popup-about">
    <div class="content-block">
    	<p>About</p>
    	<p><a href="#" class="close-popup">X</a></p>
    	<iframe src="https://www.wolframcloud.com/objects/8b7813cc-d3a5-4b6c-a1da-c0cab5fc7c42" class="iframe_modal"></iframe>
    </div>
</div>

<div class="popup popup-info">
    <div class="content-block">
    	<p>INFO</p>
    	<p><a href="#" class="close-popup">X</a></p>
    	<p>Lorem ipsum dolor ...</p>
    </div>
</div>

<div class="popup popup-tab">
    <div class="content-block">
    	<div class="row">
    		<div class="tablet-80 col-70"><h1>TAB</h1></div>
    		<div class="tablet-20 com-30">
    			<p><a href="#" class="close-popup"><h3>x</h3></a></p>
    		</div>
    	</div>
    	<p>Lorem ipsum dolor ...</p>
    </div>
</div>