<body>
	<div class="side_margin">

		<div class="row">

			<div class="table-5 col-5"></div>
			<div class="tablet-90 col-90">

				<center>Introdución</center>

				<p class="justify">Este aplicación fue desarollada para la clase de Metdods Numericos en Ingenieria y Algebra lineal curso de la carrera ingenieria en sistemas computacionales del Tecnológico de Moneterrey campus estado de méxico por los alumno
					<ul class="no-list-style">
						<li>Arturo Amador Paulino</li>
						<li>César Adrián Galván Medrano</li>
						<li>Ricardo Adolfo Esquivel Licona</li>
					</ul>
				La aplicacion usa la API de wolframe para la evaluación de los metodos y los diferentes calculos que debe de realizar, es necesario contar con conexión a internet para su correcto funcionamiento.
				</p>
			</div>



			<div class="tablet-5 col-5"></div>

			<!--<div class="col-100">
				<iframe src="https://www.wolframcloud.com/objects/7eed8ed5-5e04-4102-8339-a264bf37b7d0"></iframe>
			</div>
			<div class="col-100">
				<iframe src="https://www.wolframcloud.com/objects/11107908-04de-44b5-8e96-1a26a48f6e96" style="width: 100%;height: 50%;"></iframe>
			</div>

			<br/>
			<div class="col-100">
				<center> <h1>Esferas</h1> </center>
				<iframe src="https://www.wolframcloud.com/objects/8ba49cf7-dbbf-4340-98aa-c23da167c515" style="width: 100%;height: 50%;"></iframe>-->
			</div>

			<br/>
			<div class="buttons-row">
				<a href="#" class="button button-round demo1"> Button demo 1 </a>
				<a href="#" class="button button-round demo2"> Button demo 2 </a>
			</div>

			<br/>

			<div class="col-100">
				<iframe class="iframe_Size" src="https://www.wolframcloud.com/objects/8b7813cc-d3a5-4b6c-a1da-c0cab5fc7c42"></iframe>
			</div>

		</div>
	</div>
</body>
