<body>
	<div class="side_margin">

		<div class="row">

			<div class="table-5 col-5"></div>
			<div class="tablet-90 col-90 justify">

				<center><h1>Introducción</h1></center>

				<p class="justify">Este aplicación fue desarollada para la clase de Metdods Numericos en Ingenieria y Algebra lineal curso de la carrera ingenieria en sistemas computacionales del Tecnológico de Moneterrey campus estado de méxico por los alumno
					<ul class="no-list-style">
						<li> <a href=""data-picker=".picker-1" class="open-picker"> Arturo Amador Paulino </a></li>
						<li> <a href=""> César Adrián Galván Medrano </a></li>
						<li> <a href=""> Ricardo Adolfo Esquivel Licona </a></li>
					</ul>
				La aplicacion usa la API de wolframe para la evaluación de los metodos y los diferentes calculos que debe de realizar, es necesario contar con conexión a internet para su correcto funcionamiento.
				</p>
			</div>
			<div class="table-5 col-5"></div>
		</div>
	</div>
</body>