<body>
	<div class="side_margin">

		<div class="row">

			<div class="table-5 col-5"></div>
			<div class="tablet-90 col-90 justify">

				<center><h1>Introducción</h1></center>

				<p class="justify">Esta aplicación fue desarollada para la clase de Métodos Numéricos en Ingeniería y Álgebra lineal curso de la carrera ingeniería en sistemas computacionales del Tecnológico de Moneterrey Campus Estado de México por los alumnos:
					<ul class="no-list-style">
						<li> <a href=""data-picker=".picker-1" class="open-picker"> Arturo Amador Paulino </a></li>
						<li> <a href=""> César Adrián Galván Medrano </a></li>
						<li> <a href=""> Ricardo Adolfo Esquivel Licona </a></li>
					</ul>
				La aplicación usa la API de Wolfram para la evaluación de los métodos y los diferentes cálculos que debe de realizar, es necesario contar con conexión a internet para su correcto funcionamiento.
				</p>
			</div>
			<div class="table-5 col-5"></div>
		</div>
	</div>
</body>
