<div class="page-content infinite-scroll">

	<div class="side_margin">
		<div class="row">
			<div class="tablet-5 col-5"></div>
			<div class="tablet-90 col-90">
				<h1>
					<center>Inversa</center>
				</h1>

				<p class="justify">
					La inversa de una matriz A denomidad como A-1, caulculada mediante cofactores donde Adj(A)=[Cofac(A)]^T.
					<br/>
					
				</p>
			</div>
			<div class="tablet-5 col-5"></div>
		</div>
	</div>

	
</div>