<body>
	<div class="page-content infinite-scroll">
		<div class="side_margin">
			
			<div class="row">

				<div class="table-5 col-5"></div>
				<div class="tablet-90 col-90">
					
					<center> <h1>Gauss Jordan</h1></center>

					<p class="justify">Es un algoritmo de álgebra lineal para determina la soluciones de un sistema de ecuaciones lineales, encrontrar matrices e inversas, Un sistema de ecuaciones se resuleve por el método de gauss cuando se obtinen sus soluciones mediante la reducción del sistema dado a otro equivalente en el que cada ecuación tiene una incógnita menos que la anterior. El método de Gauss transforma la matriz de coeficientes en una matriz triangular superior, así hasta obtner una matriz diagonal</p>
					<br/>
					<p>
						Imaginado una ecuacion similar a:
						<center>
							<ul class="no_list_style">
								<li>2x  + y - z  = 8</li>
								<li>-3x - y + 2z = -11</li>
								<li>-2x + y + 2z = -3</li>
							</ul>
						</center>	
					</p>
					<center>
						<p>
							<h4>Entonces nuestra matriz tendria una forma simila a está</h4>
							<img src="static/gauss.png" class="width100" />
						</p>
					</center> 
				</div>
				<br/>
				<div class="col-100">
					<iframe class="iframe_Size" src="https://www.wolframcloud.com/objects/a8d27ff7-aa47-4ae5-b1dc-687c7b13e4d2"></iframe>
				</div>
				
			</div>
		</div>
	</div>
</body>