*{
    font-family: 'Noto Sans', Quicksand;
}

.width100{
	width: 100%;
}

.no_list_style{
	list-style-type: none;
}

.alines_list_block{
	margin: 0px !important;

}

.full_width{
	width: 100% !important;
}

.side_panle_color{
	background-color: #20252b;
}

.justify{
	text-align: justify;
}

.side_margin{
	padding: 0px 20px;
}

.backgroud_SidePanel{
	background-color: #2a2a2a;
}

.iframe_Size{
	width: 100%;
    height: 500px;
}

