<div class="page-content infinite-scroll">

	<div class="side_margin">
		<div class="row">
			

			<div class="table-5 col-5"></div>
			<div class="table-90 col-90">
				<center><h1>Trapecio Multiple</h1></center>
				<p class="justify">Metodo de integración, es decir, un metodo para calcular aproximadamnte el valor de una integral definida <span><img src="https://wikimedia.org/api/rest_v1/media/math/render/svg/202945cce41ecebb6f643f31d119c514bec7a074" class="mwe-math-fallback-image-inline" aria-hidden="true" style="vertical-align: -0.838ex; width:4.459ex; height:2.843ex;" alt="f(x)"></span> por el lado de la función lineal, que pasa atravez de los punto de inici y fin dado</p>

				<br/>
				<p class="justify">
					La integral definida es similar o aproximada al area del trapecio bajo la curava
				</p>
				<br/>
				<center><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Trapezoidal_rule_illustration_small.svg/220px-Trapezoidal_rule_illustration_small.svg.png"/></center>

				<br/>

				<center> <h2>Reglas del Trapecio</h2> </center>
			<br/>
			</div>
			<div class="table-5 col-5"></div>

			
		</div>
	</div>


	
</div>