<div class="page-content infinite-scroll">

	<div class="side_margin">
		<div class="row">
			

			<div class="table-5 col-5"></div>
			<div class="table-90 col-90">
				<center><h1>Trapecio Multiple</h1></center>
				<p class="justify">Metodo de integración, es decir, un metodo para calcular aproximadamnte el valor de una integral definida <span><img src="https://wikimedia.org/api/rest_v1/media/math/render/svg/202945cce41ecebb6f643f31d119c514bec7a074" class="mwe-math-fallback-image-inline" aria-hidden="true" style="vertical-align: -0.838ex; width:4.459ex; height:2.843ex;" alt="f(x)"></span> por el lado de la función lineal, que pasa atravez de los punto de inici y fin dado</p>

				<br/>
				<p class="justify">
					La integral definida es similar o aproximada al area del trapecio bajo la curava
				</p>
				<br/>
				<center><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Trapezoidal_rule_illustration_small.svg/220px-Trapezoidal_rule_illustration_small.svg.png"/></center>

				<br/>

				<center> <h2>Reglas del Trapecio</h2> </center>

				<ol>
					<li>Es necesario un polinomio de primer orden <span><img class="mwe-math-fallback-image-inline image-lazy-loaded" src="https://wikimedia.org/api/rest_v1/media/math/render/svg/85f8f17bd8531c160634e0f19bb2a4d05ad51dc1" alt="{\displaystyle P_{1}(x)=f(a)+{\frac {f(b)-f(a)}{b-a}}(x-a)}" style="width: 35.489ex;height: 5.843ex;"></span>	</li>
					<br/>
					<li>Calcular la integral
						<span><img class="mwe-math-fallback-image-inline image-lazy-loaded" src="https://wikimedia.org/api/rest_v1/media/math/render/svg/a4a0e1eb1d1c3de0a21bc7bf51a3fe6a106e5492" alt="{\displaystyle {\begin{aligned}I&amp;=\int _{a}^{b}f(x)dx\approx \int _{a}^{b}P_{1}(x)\,dx\\&amp;\approx \int _{a}^{b}\left[f(a)+{\frac {f(b)-f(a)}{b-a}}(x-a)\right]\,dx\end{aligned}}}" style="width: 41.311ex;height: 12.843ex;"></span>
					</li>
					<br/>
					<li>Obtenemos la integral definida
						<span><img class="mwe-math-fallback-image-inline image-lazy-loaded" src="https://wikimedia.org/api/rest_v1/media/math/render/svg/17b3a2a11503b847c099ddbf040dd025b5a3f8ec" alt="{\displaystyle \int _{a}^{b}f(x)dx\approx (b-a){\frac {f(a)+f(b)}{2}}}" style="width: 33.045ex;height: 6.343ex;"></span>
					</li>
					<br/>
					<li>
						Calculamos el termino del error correspondiente a 
						<span><img class="mwe-math-fallback-image-inline image-lazy-loaded" src="https://wikimedia.org/api/rest_v1/media/math/render/svg/523edb27b0310bad7e16af07eec0a3591109e2b4" alt="{\displaystyle E_{t}=-{\frac {1}{12}}f''(\xi )(b-a)^{3}}" style="width: 24.013ex;height: 5.176ex;"></span>
					</li>	
				</ol>
				<br/>
				<a href="" class="button button_color metodo">TRAPECIO MULTIPLE</a>
			</div>
			<div class="table-5 col-5"></div>
			<br/>

			<div class="row">
				<div class="col-100">
					
				</div>
			</div>
		</div>
	</div>


	
</div>


<!--Contenido fuera de page content-->
<div class="popup popup-trap">
    <div class="content-block">
    	<div class="row">
    		<div class="tablet-80 col-70"><h1>Trapecio Multiple</h1></div>
    		<div class="tablet-20 com-30">
    			<p><a href="#" class="close-popup"><h3>x</h3></a></p>
    		</div>
    	</div>
    	<div class="col-40"></div>
    	<div class="col-20">
			<iframe class="iframe_Size iframe_modal" src="https://www.wolframcloud.com/objects/2b7a901f-3253-45ff-9d66-ee000cca1fb2"></iframe>
		</div>
		<div class="col-40"></div>
    </div>
</div>